.section-8 {
    margin: 8rem 0;
}

.blog-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.blog-title {
    color: #0a165e;
    font-size: 50px;
}
.cards8 {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.4rem;
}
.cards8 .card8-img {
    overflow: hidden;
}
.cards8 .card8-img img {
    width: 100%;
}
.cards8 .card8-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 5px;
}
.cards8 .card8-tech {
    display: flex;
    gap: 0.5rem;
    color: #585b6f;
}
.cards8 .dot {
    width: 5px;
    height: 5px;
    background-color: #585b6f;
    border-radius: 20px;
}
.cards8 .dot-position {
    display: flex;
    align-items: center;
}
.cards8 .card8-title {
    color: #0a165e;
    font-size: 22px;
}
.cards8 .card8-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2b4dff;
    font-weight: bold;
}


@media (max-width: 768px) {
    .blog {
        display: flex;
        flex-direction: column;
        gap: 1rem;
}
}
@media (max-width: 576px) {
    .blog-title {
        font-size: 35px;
    }
    .blog {
        display: flex;
        flex-direction: column;
        gap: 1rem;
}
}