.right-column-prcsec34 {
    display: flex;
    flex-direction: column;
    margin-left: 108px;
}

.prcsec34-inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prcsec34-inside h5{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    color: #0a165E;
}

.prcsec34-inside button{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
}

.right-column-prcsec34 p{
    color: #585B6F;
}