.left-column-prcsec3{

}

.right-column-prcsec3 {
    display: flex;
    flex-direction: column;
    margin-left: 108px;
}

.right-column-prcsec3 .prcsec3-inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prcsec3-inside h5{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    color: #0a165E;
}

.prcsec3-inside button{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
}

.right-column-prcsec3 p{
    margin-top: 20px;
    color: #585B6F;
    display: none;
}
.right-column-prcsec33 p{
    display: flex;
}
.pricingsec3{
    border-top: 1px solid #e3e3ec ;
    border-bottom: 1px solid #e3e3ec ;
    padding: 24px 0;
}

@media (max-width: 991px){
    .right-column-prcsec3 {
    margin-left: 0;
}
}